.delete-review-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    
}

.confirm-delete {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.cancel-delete {
    background-color: darkgray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
