.product-detail-content-container {
    margin-top: 20px;
    padding-top: 20px;
}

.product-detail-page-whole {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 25%;
    margin-right: 25%;
}

.product-detail-upper {
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 20px;
    align-items: start;
}

.product-detail-img-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.product-detail-preview-img {

   width: 250px;
   height: 300px;
   object-fit: cover;
   border-radius: 5px;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

hr {
    border: none;
    border-top: 1px solid #302d2d;
    margin: 10px 0;
}

@media (max-width: 768px) {
    
    .product-detail-page-whole {
        width: auto;
       margin: 0;

    }

    .product-detail-upper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .product-detail-preview-img {
        height: 80%;
        aspect-ratio: 2 / 3;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .product-detail-page-whole {
        width: auto;
        margin: 0;
    }

    .product-detail-upper {
        grid-template-columns: 1fr;
    }

    .product-detail-preview-img {
        height: auto;
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    h3 {
        font-size: 1.2rem;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

/* @media (max-width:2000px) {
    .product-detail-page-whole {
        width: auto;
        margin: 0;
    }
    
    .product-detail-preview-img {
        height: 100%;
        width: 100%;
        aspect-ratio: 2 / 3;
    }
}  */