.product-detail-content-container {
    margin-top: 20px;
    padding-top: 20px;
}

.product-detail-page-whole {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 25%;
    margin-right: 25%;
}

.product-detail-upper {
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 20px;
    align-items: start;
}

.product-detail-img-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;    
}

.image-with-icon {
    position: relative; 
    width: 250px; 
    height: 300px;
}

.favorite-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; 
}

.favorite-icon {
    font-size: 2rem;
    color: #ffffff;
    filter: drop-shadow(0px 0px 1px black);
    cursor: pointer;
}

.favorite-icon.favorited {
    color: #e74c3c;
}

.favorite-icon:hover {
    color: #ff6666;
}

.product-detail-preview-img {

   width: 250px;
   height: 300px;
   object-fit: cover;
   border-radius: 5px;
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-detail-info .price {
    font-size: 25px;
}
.product-detail-info h3 {
    font-size: 25px;
}
.owner-info{
    text-decoration: underline;
}
.product-detail-info button {
    padding: 0.5rem 1rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}


.product-detail-info button:hover {
    background-color: #c0392b;
}

.ratings {
    margin-top: 1.5rem;
}

hr {
    border: none;
    border-top: 1px solid #aea9a9;
    margin: 10px 0;
}

.product-review button{
    padding: 0.3rem;
    margin:0.5rem 1rem 0 0;
}

.product-review button:hover {
    color: #e74c3c;
    text-decoration: underline;
    transition: all 0.2s;
}

.review-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0.8rem;
}

.review-user {
    font-size: small;
    text-decoration: underline;
}

.review-date {
    font-size: small;
    color:#757575;
}


@media (max-width: 768px) {
    
    .product-detail-page-whole {
        width: auto;
       margin: 0;

    }

    .product-detail-upper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .product-detail-preview-img {
        height: 80%;
        aspect-ratio: 2 / 3;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .product-detail-page-whole {
        width: auto;
        margin: 0;
    }

    .product-detail-upper {
        grid-template-columns: 1fr;
    }

    .product-detail-preview-img {
        height: auto;
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    h3 {
        font-size: 1.2rem;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

