.signup_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    gap: 1.5em;
  }
  
  
  .signup_form_container form {
    display: flex;
    flex-direction: column;
  }
  
  
  .signup_form_container input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  
  .signup_form_container button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: 0.4s;
  }
  
  .signup_form_container button:hover {
      background-color: gray;
      color: white;
  }

  .required {
    color: red;
  }
  
  .signup_form_container .error {
      color: red; 
      margin-top: 5px;
      font-size: 15px;
  }
  
  .signup_form_container input.error {
    color: red;
    border-color: red;
    background-color: #ffe6e6;
  }  
  
  
  