/* TODO: Add sitewide styles */

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

*{
    font-family: 'Bangers', sans-serif;
}

body {
    background-color: #FAF0E6;
    margin: 0;
}